{% extends "base.html" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
 
  <section class="accueil">

   <div class="texte">
    
    <center><h1>Qui sommes-nous ?</h1></center><br/>

   <center><p>Nous sommes MD Consulting, une Micro-Entreprise basée en France, enregistrée sur le numéro SIRET 123 456 789 00012, spécialisée dans la vente et conseils des produits cosmétiques.</p></center><br/>
<center><p>Nous proposons divers articles, en particulier le savon noir 100% naturel provenant d'Afrique de l'ouest précisement de Côte d’Ivoire.</p></center>
<center><p>Lutte contre les tâches, adoucit, nettoie et lisse la peau, le savon noir est fait à base de potasse de frêne, beurre de karité, huile végétale, de miel et s'applique sur tous types de peaux.</p></center>

  </div>
</section>

{% endblock %}

