{% extends "base.html" %}

{% block title %}MD Consulting{% endblock %}

{% block content %}

<main>

<section class="accueil">

  <div class="texte">

       <p style="color: white;"><b>Nous sommes MD Consulting une micro-entreprise spécialisée dans la vente et conseils des produits cosmétiques. Nous proposons divers articles, en particulier le savon noir 100% naturel provenant d'afrique de l'ouest, plus précisement de Côte d’Ivoire. Lutte contre les tâches, adourcit, nettoie et lisse la peau. Le savon noir est fait à base de potasse de frêne, beurre de karité, huile végétale, de miel et s'applique sur tous types de peaux.</b></p>

<div style="text-align: center;">
  <img src="{{ url_for('static', filename='images/Affiche.jpg') }}" height="300" width="300" alt="Affiche promotionnelle du savon noir naturel">
  <br/><br/>
  <a href="{{ url_for("afficher_produits") }}" class="btn" style="background-color: blue; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Commander maintenant</a>
</div>

</section>

<style>

body.page {
  background-image: url("{{ url_for('static', filename='images/Affiche4.png') }}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8dd0d0;
}

</style>

</main>

{% endblock %}