{% extends "base.html" %}

{% block title %}MD Consulting{% endblock %}

{% block content %}

<main>

<div style="text-align: center;">
  <img src="{{ url_for('static', filename='images/Affiche.jpg') }}" height="300" width="300" alt="Affiche promotionnelle du savon noir naturel">
  <br/><br/>
  <a href="{{ url_for("afficher_produits") }}" class="btn" style="background-color: blue; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Commander maintenant</a>
</div>

<style>

body.page {
  background-image: url("{{ url_for('static', filename='images/Affiche4.png') }}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8dd0d0;
}

</style>

</main>

{% endblock %}
