{% extends "base.html" %}

{% block title %}MD Consulting{% endblock %}

{% block content %}

<main>

<section class="accueil">
  
<div style="text-align: center;">
  <img src="{{ url_for('static', filename='images/Affiche.jpg') }}" height="300" width="300" alt="Affiche promotionnelle du savon noir naturel">
  <br/><br/>
  <a href="{{ url_for("afficher_produits") }}" class="btn" style="background-color: blue; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Commander maintenant</a>
</div>

<style>

body.page {
  background-image: url("{{ url_for('static', filename='images/Affiche4.png') }}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8dd0d0;
}

</style>

<div class="social" style="margin-top: 20px;">
    <a href="https://www.facebook.com/profile.php?id=100076569482182" target="_blank" style="margin: 0 10px; color: white;"><i class='bx bxl-facebook'></i></a>
    <a href="https://wa.me/33600000000" target="_blank" style="margin: 0 10px; color: white;"><i class='bx bxl-whatsapp'></i></a>
    <a href="https://www.instagram.com/mercierfouna/" target="_blank" style="margin: 0 10px; color: white;"><i class='bx bxl-instagram'></i></a>
</div>
  
</section>
  
</main>

{% endblock %}
