{% extends "base.html" %}

{% block title %}MD Consulting{% endblock %}

<main>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST" action="{{ url_for('login') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>
        <input type="password" name="motdepasse" class="form-control mb-3" placeholder="Mot de passe" required>
        
        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
      </form>

      <div class="text-center mt-3">
        <span>Pas encore inscrit ? <a href="{{ url_for('signup') }}">Créer un compte</a></span>
      </div>
    </div>
  </div>
</div>

</div>
</main>
{% endblock %}
