{% extends "base.html" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}

  <section class="accueil">

   <div class="texte">

    <h2>Mentions légales</h2>
<br/>

    <center><p><u>Editeur :</u></p></center>

    <center><p>MD Consulting Micro-Entreprise basée en France, enregistré sur le numéro SIRET 123 456 789 00012.</p></center>

    <center><p><u>Responsable de publication :</u></p></center>
    <center><p>Mr. Peyroche Mercier De-Dieu FOUNA, Concepteur & Développeur Aplication.</p></center>

    <center><p><u>Hébergeurs :</u></p></center>
    <center><p>Render, Alwaysdata.</p></center>

     <center><p><u>Protection des données :</u></p></center>
<p text-align:justify>Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement automatisé des données nominatives qui pourrait éventuellement être réalisé à partir de ce site Internet fera l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL). A ce jour, les seules données nominatives sont celles des créations des comptes utilisateurs, de la validation des commandes paniers et de l'envoie des messages par le formulaire de contact. A cet égard, conformément aux dispositions de la loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel et modifiant la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, nous précisons que ces données resteront strictement confidentielles.</p>

     <center><p><u>Cookies :</u></p></center>
<p text-align:justify>Afin de garantir la sécurité des sessions utilisateurs et le bon fonctionnement du site, nous utilisons des cookies techniques strictement nécessaires. Ces cookies ne collectent aucune donnée personnelle à des fins publicitaires ou statistiques. Conformément à la réglementation en vigueur (RGPD et directive ePrivacy), ces cookies étant indispensables au fonctionnement et à la sécurité du site, ils ne nécessitent pas de consentement préalable.</p>

    <center><p><u>Politique des mots de passe :</u></p></center>
<p text-align:justify>Lors de la création de votre compte, vous définissez un mot de passe personnel. Ce mot de passe est crypté et stocké de manière sécurisée. Pour des raisons de confidentialité et de sécurité, nous ne pouvons pas le récupérer ni le réinitialiser. En cas de perte ou d’oubli de votre mot de passe, votre compte sera irrécupérable. Il est donc impératif de le conserver précieusement, dans un gestionnaire de mots de passe ou un support sécurisé.</p><br/>

  </div>
</section>
{% endblock %}


