{% extends "base.html" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
  <div class="mentions-legales">
    <h2>Mentions légales</h2>
    <p>Editeur :</p>
    <p>MD Consulting Micro-Entreprise</p>
    <p>France</p>
    <p>SIRET : 123 456 789 00012</p><br/>

    <p>Responsable de publication :</p>
    <p>Peyroche Mercier De-Dieu FOUNA</p>
    <p>Concepteur & Développeur application</p>
    <p>fplacide66@gmail.com</p><br/>

    <p>Hébergeurs :</p>
    <p>Render.com</p>
    <p>Alwaysdata.com</p>

    <p>Code source :</p>
    <p>Github</p><br/>

    <p>Dispositions Relatives à la protection des données :</p>
    <p>Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement automatisé des données nominatives qui   pourrait éventuellement être réalisé à partir de ce site Internet fera l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL). A ce jour, les seules données nominatives sont celles des créations de compte. A cet égard, conformément aux dispositions de la loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel et modifiant la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés publiée au JO du 07 août 2004, nous précisons que ces données resteront strictement confidentielles</p>
  </div>
{% endblock %}


