{% extends "base.html" %}
{% block title %}Politique de Confidentialité{% endblock %}

{% block content %}

  <h1>Politique de Confidentialité</h1>

  <h2>1. Responsable du traitement</h2>

  <p>MD Consulting Micro-Entreprise.</p>

  <h2>2. Données collectées</h2>

  <p>Nous collectons les données suivantes : identité (nom, prénom), coordonnées (adresse, email, téléphone), données liées aux commandes (produits achetés).</p>

  <h2>3. Finalités du traitement</h2>

  <ul>
    <li>Sécuriser les accès et authentification des utilisateurs</li>
    <li>Exécution des commandes.</li>
  </ul>

  <h2>4. Base légale</h2>

  <p>Les traitements reposent sur : l’exécution du contrat générale de vente, et le reglement générale sur la protection des données (RGPD).</p>

  <h2>5. Destinataires des données</h2>

  <p>Vos données peuvent être transmises à : nos prestataires techniques (hébergeur), nos prestataires logistiques (transporteurs), ainsi qu’aux autorités légales (CNIL) si nécessaire.</p>

  <h2>6. Durée de conservation</h2>

  <ul>
    <li>Données de compte : tant que le compte est actif + 3 ans après inactivité.</li>
    <li>Logs de connexion : 6 mois à 1 an.</li>
    <li>Execution des commandes : 10 ans (obligation légale).</li>
  </ul>

  <h2>7. Vos droits</h2>

  <p>Conformément au RGPD, vous disposez des droits suivants : accès, rectification, suppression, opposition, limitation, portabilité. Vous pouvez exercer ces droits en nous contactant à fplacide66@gmail.com / 0667551239. Vous avez également le droit d’introduire une réclamation auprès de la CNIL.</p>

  <h2>8. Sécurité</h2>

  <p>Nous mettons en œuvre des mesures techniques (chiffrement, pare‑feu, journalisation) et organisationnelles (gestion des habilitations, sensibilisation) pour protéger vos données personnelles.</p>

  <h2>9. Cookies</h2>

  <p>Nous utilisons uniquement des cookies de session nécessaires au fonctionnement du site. Ces cookies permettent de maintenir votre connexion et de protéger vos données. Conformément à la réglementation, ils ne nécessitent pas de consentement préalable.</p>

{% endblock %}
