{% extends "base.html" %}

{% block title %}MD Consulting{% endblock %}

{% block content %}
<main>

  <section>

       <h2>Nos Produits</h2>
<ul>
  <li>
    <div class="product">
      <h3>Savon en boîte</h3>
      <img src="{{ url_for('static', filename='images/Savon_en_boite.jpg') }}" alt="Savon en boîte" class="product-image" width="200" height="80">
      <p>Prix : 15.0€</p>
      <p>Stock : 10</p>
      <button class="add-to-cart" data-nom="Savon en boîte" data-price="15.0">Ajouter au panier</button>
    </div>
  </li>
  <li>
    <div class="product">
      <h3>Savon en bouteille</h3>
      <img src="{{ url_for('static', filename='images/Savon_en_bouteille.png') }}" alt="Savon en bouteille" class="product-image" width="200" height="80">
      <p>Prix : 18.0€</p>
      <p>Stock : 8</p>
      <button class="add-to-cart" data-nom="Savon en bouteille" data-price="18.0">Ajouter au panier</button>
    </div>
  </li>
</ul>

  </section>

<style>
body.page {
  background-image: url("{{ url_for('static', filename='images/Savon_noir.jpg') }}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

</style>

  <script>
    let panier = JSON.parse(localStorage.getItem("panier")) || [];

    function ajouterAuPanier(nom, prix) {
      panier.push({ produit: nom, prix: prix });
      localStorage.setItem("panier", JSON.stringify(panier));
      alert(nom + " ajouté au panier !");
    }

    document.addEventListener("DOMContentLoaded", function () {
      const boutons = document.querySelectorAll(".add-to-cart");
      boutons.forEach(function (btn) {
        btn.addEventListener("click", function () {
          const nom = btn.getAttribute("data-nom");
          const prix = parseFloat(btn.getAttribute("data-price"));
          ajouterAuPanier(nom, prix);
        });
      });
    });

  </script>

</main>
{% endblock %}
