{% extends "base.html" %}

{% block title %}MD Consulting{% endblock %}

{% block content %}

<main>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST" action="{{ url_for('signup') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <input type="text" name="nom" class="contact-input form-control mb-3" placeholder="Nom" required>
        <input type="email" name="email" class="contact-input form-control mb-3" placeholder="Email" required>
        <input type="password" name="motdepasse" class="contact-input form-control mb-3" placeholder="Mot de passe" required>
        <input type="text" name="adresse" class="contact-input form-control mb-3" placeholder="Adresse" required>
        
        <button type="submit" class="btn btn-primary contact-button w-100">S'inscrire</button>
      </form>

      <div class="text-center mt-3">
        <span>Déjà inscrit ? <a href="{{ url_for('login') }}">Connecte toi</a></span>
      </div>
    </div>

    </div>
  </div>
</div>

</div>
</main>
{% endblock %}
